@mainMargin: 5px;
@fixedWidth: 1200px;
@firstColor: red;
@secondColor: blue;

.main{
    width:@fixedWidth;
}

.row{
    background:@firstColor;
    
    margin:@mainMargin*2 auto;
    clear: both;
}
    


.col-6{
    .col-width(6);
}

.col-4{
   .col-width(4); 
}

.col-width(@widthVary){
    width:(@fixedWidth/12)*@widthVary - (@mainMargin*2);
}
.col-8{
     .col-width(8);
}

.col-4, .col-6, .col-2, .col-8{
    background:@secondColor;
    height: 100%;
    float: left;
    height:@fixedWidth/4;
    margin:@mainMargin;
}



.clearFix{
    clear: both;
}

        
    


